.footerContainer {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px;
  margin-top: 40px;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 10px;
}

.footerColumnname {
  color: var(--purpleColor);
  font-weight: bolder;
  font-size: 24px;
}

.footerColumnlist {
  font-size: 22px;
  font-weight: bolder;
  color: black;
  cursor: pointer;
}

.footerContactbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footermyIcon {
  height: 25px;
  width: 25px;
}

.footerContactlink {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 22px;
}

.footerShare {
  font-size: 22px;
  font-weight: bolder;
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 481px) and (max-width: 767px) {
  .footerContainer {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 13px 13px;
    margin-top: 40px;
  }

  .footerColumn {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 10px;
  }

  .footerColumnname {
    color: var(--purpleColor);
    font-weight: bolder;
    font-size: 22px;
  }

  .footerColumnlist {
    font-size: 12px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
  }

  .footerContactbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .footermyIcon {
    height: 20px;
    width: 20px;
  }

  .footerContactlink {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 12px;
  }

  .footerShare {
    font-size: 12px;
    font-weight: bolder;
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  .footerContainer {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 20px;
    margin-top: 40px;
  }

  .footerColumn {
    display: flex;
    flex-direction: column;
    /* padding: 15px 10px; */
    gap: 10px;
  }

  .footerColumnname {
    color: var(--purpleColor);
    font-weight: bolder;
    font-size: 12px;
  }

  .footerColumnlist {
    font-size: 8px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
  }

  .footerContactbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .footermyIcon {
    height: 20px;
    width: 20px;
  }

  .footerContactlink {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 8px;
  }

  .footerShare {
    font-size: 8px;
    font-weight: bolder;
  }
}
