* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
:root {
  --purpleColor: #7b68ee;
}

.navLink {
  text-decoration: none;
  color: black;
}

.centerBox {
  margin: 0 auto;
}
